
.demo-sentiment {
    width: 100%;
    display: block;
    background-color: #FFF;
    margin: 13px;
}

.demo-sentiment h2 {
    font-family: SalesforceSans-Bold;
    font-size: 15px;
    color: #333230;
    letter-spacing: 0;
}

.demo-sentiment--breakdown {
    display: flex;
    justify-content: space-evenly;
    height: 86px;
    overflow: visible;
}
.demo-sentiment--breakdown > span {
    display: inline-block;
    width: 95px;
    height: auto;
}

.demo-sentiment--breakdown.titles {
    position: relative;
    font-size: 12px;
    text-transform: uppercase;
    color: #8A8A8F;
    text-align: center;
    z-index: 10;
    height: 12px;
    padding-bottom: 35px;
}
.demo-sentiment--breakdown.titles:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    border-bottom: 1px solid #E5E5E5;
    width: 294px;
    margin: 0 auto;    
}