.highcharts-figure {
    padding: 0;
    margin: 0;
}

.demo-sentiment {
    width: 320px;
    display: block;
    background-color: #FFF;
    padding: 13px;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 12px;
}

.demo-sentiment h2 {
    display: block;
    font-family: SalesforceSans-Bold;
    font-size: 15px;
    color: #333230;
    letter-spacing: 0;
}
.demo-sentiment h2 img {
    height: 24px;
    width: 24px;
    margin: -2px 10px 0 0;
}

.demo-sentiment--date {
    width: 102px;
    height: 32px;
    margin: 22px 0 18px;
}

.demo-sentiment--breakdown {
    display: flex;
    justify-content: space-evenly;
    height: 100px;
    overflow: visible;
}
.demo-sentiment--breakdown > span {
    display: inline-block;
    width: 100px;
    height: auto;
}

.demo-sentiment--breakdown.titles {
    position: relative;
    font-size: 12px;
    color: #8A8A8F;
    text-align: center;
    z-index: 10;
    height: 12px;
    padding-bottom: 47px;
    margin-bottom: 35px;
}
.demo-sentiment--breakdown.titles:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    border-bottom: 1px solid #E5E5E5;
    width: 294px;
    margin: 0 auto;    
}

.demo-sentiment--line {
    width: 300px;
    height: 190px;
    position: relative;
}
.demo-sentiment--line:before {
    content: '';
    border: 1px solid #B8C8D3;
    height: 168px;
    position: absolute;
    display: block;
    margin: 10px 8px;
}
.demo-sentiment--line:after {
    content: '';
    border: 1px solid #E5E5E5;
    height: 168px;
    position: absolute;
    display: block;
    margin: 10px 8px;
    top: 0;
    right: 0;
}
.demo-sentiment--breakdown.legend {
    font-family: SalesforceSans-Regular;
    font-size: 12px;
    color: #8A8A8F;
    letter-spacing: 0;
    height: 25px;
}
.demo-sentiment--icon {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    background-color: #8A8A8F;
    margin: -2px 8px;
}
.demo-sentiment--icon.positive {
    background-color: #4ACE23;
}
.demo-sentiment--icon.neutral {
    background-color: #00A1E0;
}
.demo-sentiment--icon.negative {
    background-color: #FA5858;
}
